

.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer_section {
  background: var(--main_color);
  color: #fff;
}


.footer_top {
  align-items: start;
  color: #fff;
}
.footer_logo {
  background: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  justify-content: start;
  gap: 2px;
  width: fit-content;
}

.footer_logo img{
  width: 30px;
}
.footer_logo span{
  font-size: 25px;
  color: #000;
}
.footer_about p {
  max-width: 300px;
  line-height: 1.4;
  color: #fff;
  margin-top: 5px;
}

.footer_links h3,
.footer_contact h3 {
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--second_main_color);
}

.footer_links ul li {
  margin: 10px 0;
}

.footer_links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer_links ul li a:hover,
.footer_contact p a:hover
 {
  color: var(--second_main_color);
}
.footer_contact p,
.footer_contact p a {
  color: #ffff;
  margin-top: 5px;
}
.social_icons {
  margin-top: 20px;
}

.social_icons a{
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.social_icons a span {
  color: #fff;
  font-size: 18px;
  padding: 3px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.social_icons a:hover span{
  transform: scale(1.2);
  color: rgb(64, 224, 144);
}

.footer_bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
}

.footer_bottom p {
  color: rgba(255, 255, 255, 0.596);
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footer_top {
    flex-direction: column;
    align-items: start;
  }

  .footer_about,
  .footer_links,
  .footer_contact {
    text-align: left;
  }

  .footer_links ul {
    display: inline-block;
  }
}
